@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Jomolhari&family=Roboto:wght@300;400&display=swap');

// Ippolito Brand Colors
$ippolito-purple: #4E2564;
$ippolito-green: #0EAD69;
$ippolito-orange: #F18A20;
$digital-blue: #3E4163;
$dark-grey: #333333;
$white: #FFFFFF;

// Ippolito Brand Fonts
$ippolito-brand: 'Jomolhari', serif;
$ippolito-heading: 'Caveat', cursive;
$ippolito-body: 'Roboto', sans-serif;

