@import '_vars.scss';
@import './Footer.scss';
@import './Queries.scss';

#top-alert {
    height: 50px;
    background: $digital-blue;
    color: white;
    text-align: center;
    padding: 8px;
}

.navbar {
    height: 70px;
    background: $ippolito-purple;
}

.navbar-collapse {
    background: $ippolito-purple;
    z-index: 1;
}

.nav-item a, .nav-item a:hover {
    color: $white;
    font-family: $ippolito-body;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.product-text {
    text-align: center;
}

.navbar-brand {
    color: $white;
    font-family: $ippolito-body;
    font-size: 1rem;
}

.navbar-brand:hover {
    color: $white;
}

.dropdown-menu, .dropdown-item {
    color: black !important;
}

#hero {
    height: 50vh;
    background: url('/images/hero-background.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text {
    font-family: $ippolito-heading;
    font-weight: 700;
    color: white;
    font-size: 5rem;
    margin-left: 32px;
    float: left;
}

.hiring {
    color: white;
    font-family: $ippolito-heading;
}

.hiring-link {
    color: $digital-blue;
    font-family: $ippolito-body;
    font-size: 1rem;
}

.hiring-link:hover {
    text-decoration: none;
}

.hiring-box {
    background: $ippolito-green;
    float: right;
}

.toast {
    margin-right: 3rem;
    float: right;
}

.scroll-toggle {
    color: white;
    font-size: 2rem;
}

.scroll-toggle:hover {
    color: $ippolito-purple;
}

.logos {
    display: block;
    margin-left: 32px;
    width: 600px;
}

#alert-section {
    height: 100px;
    background: $ippolito-green;
}

.alert-text {
    color: white;
    text-align: center;
    font-family: $ippolito-body;
    font-size: 1.2rem;
    margin: 0 auto;
}

.announce-icon {
    border-right: solid 1px white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 16px;
}

.main-heading {
    color: $ippolito-purple;
    text-align: center;
    font-family: $ippolito-heading;
    font-size: 3rem;
    font-weight: 700;
}

.main-heading-alt {
    color: white;
    text-align: center;
    font-family: $ippolito-heading;
    font-size: 3rem;
    font-weight: 700;
}

.body-copy-alt {
    color: white;
    font-family: $ippolito-body;
    font-size: 1rem;
    line-height: 32px;
}

#services-section {
    padding-bottom: 60px;
    padding-top: 40px;
}

.download {
    background: $digital-blue !important;
    border-radius: 40px !important;
    color: white;
    font-family: $ippolito-body !important;
    border: none !important;
}

hr {
    border: 1px solid $ippolito-green !important;
    width: 80px;
}

.card {
    height: 300px;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(205,205,205,0.50);
    -moz-box-shadow: 0px 0px 20px 0px rgba(205,205,205,0.50);
    box-shadow: 0px 0px 20px 0px rgba(205,205,205,0.50);
    padding: 8px;
    margin: 0 auto;
    border: none !important;
    perspective: 1000px;
}

#products-section {
    background: $ippolito-green;
    color: white;
    overflow: visible;
    position: relative;
}

#product-selection {
    background: $ippolito-orange;
    overflow: visible;
    position: relative;
    margin-bottom: 100px;
}

#product-select select {
    text-align-last: center;
    width: auto;
}

.product-select-form {
    margin: 0 auto;
}

.product-img {
    width: 230px;
    // position: absolute;
    // top: -25px;
    // margin-left: 220px;
    margin: 0 auto;
}

.choose-img {
    width: 450px;
    position: absolute;
    top: -150px;
    z-index: 1;
}

#sourcing {
    min-height: 50vh;
    background: url('/images/grow-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .card-back {
    color: $dark-grey;
    transform: rotateY(180deg);
  }

  .card-heading {
      font-family: $ippolito-body;
      font-size: 1.5rem;
      color: $ippolito-purple;
      text-align: center;
      text-transform: uppercase;
      margin-top: 16px;
      padding: 0;
  }

  .card-body {
      font-family: $ippolito-body;
      font-size: 1rem;
      color: $dark-grey;
      text-align: left;
      padding: 0;
  }

  .card-hr {
    border: 1px solid $ippolito-green !important;
    width: 30px;
    margin: 0 auto;
    padding: 0;
  }

  .inv {
      display: none;
  }

  .vis {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    .jvectormap-zoomin {
        display: none;
    }

    .jvectormap-zoomout {
        display: none;
    }
  