@import '_vars';

// Extra Small
@media (max-width: 575.98px) {
    .dropdown-menu {
        background: $ippolito-purple !important;
    }

    .dropdown-item {
        color: white !important;
    }

    .navbar-collapse {
        padding: 24px;
    }
    
    #top-alert {
        font-size: 12px;
    }

    .main-heading-alt {
        font-size: 2.5rem !important;
    }

    .main-heading {
        font-size: 2.5rem !important;
    }

    .alert-text {
        font-size: 1rem !important;
        padding: 8px;
    }

    .toast {
        display: block;
        float: none !important;
        margin: 0 auto;
    }

    .card {
        margin-bottom: 40px;
    }

    .footer-con {
        text-align: center;
    }

    .hr-small {
        margin: 0 auto;
    }

    .footer-sec {
        text-align: center;
        height: auto;

        p {
            margin: 16px;
        }
    };

    #social-icons {
        justify-content: center !important;
    }

    .logos {
        width: 290px !important;
    }

    #hero {
        height: auto;
    }

    // .hiring-box {
    //     float: none !important;
    //     margin-bottom: 16px;
    //     width: 280px;
    // }

    .hero-text {
        margin-top: 32px;
        float: none !important;
        font-size: 2.5rem !important;
        text-align: center !important;
    }

    .navbar-brand {
        font-size: 1rem !important;
    }

    #footer-logo {
        margin-left: 0 !important;
    }

    .assoc-logo {
        max-width: 200px !important;
        display: block;
        margin: 0 auto;
        padding-top: 32px;
    }

    .opma {
        max-width: 150px !important;
        display: block;
        margin: 0 auto;
        padding-top: 16px;
    }

    .page-heading {
        font-size: 3.5rem !important;
        word-wrap: break-word;
    }
}

// Menu breakpoint
@media (max-width: 1200px) {
    // .hiring-box {
    //     float: none;
    // }
}

// iPad
@media (max-width: 768px) {
    // .hiring-box {
    //     width: 300px;
    // }
}

// iPad Pro
@media (max-width: 1024px) {
    // .hiring-box {
    //     margin-left: 16px;
    //     width: 300px;
    //     margin-bottom: 32px;
    // }

    #hero {
        height: auto;
    }
}

// Medium devices
@media (max-width: 991.98px) { 
    #hero {
        height: auto;
    }

    .hero-text {
        padding-top: 16px;
    }

    // .hiring-box {
    //     width: 280px;
    //     margin-bottom: 32px;
    // }

    .logos {
        width: 500px;
    }
}

// Small
@media (min-width: 576px) {
    .dropdown-menu-right {
        right: auto;
        left: 0;
    }
}
